[defaults]
output = json
region = us-gov-west-1

[okta]
aws_saml_url = home/amazon_aws/0oa14lkr6iN3hJlpQ4h7/272

[profile tsa-admin]
role_arn = arn:aws-us-gov:iam::330337479480:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1

[profile tsa-dev]
role_arn = arn:aws-us-gov:iam::724953059831:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1

[profile tsa-net]
role_arn = arn:aws-us-gov:iam::725245071763:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1

[profile tsa-prod]
role_arn = arn:aws-us-gov:iam::724995466911:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1

[profile tsa-tools]
role_arn = arn:aws-us-gov:iam::725067816605:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1

[profile tsa-uat]
role_arn = arn:aws-us-gov:iam::410096538681:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1
