[defaults]
output = json
region = us-gov-west-1

[profile tsa-admin]
aws_saml_url = home/amazon_aws/0oa14lm91aDJOqDWW4h7/272
role_arn = arn:aws-us-gov:iam::330337479480:role/OKTA_TSA_ADMINISTRATOR 
region = us-gov-west-1
# https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14lm91aDJOqDWW4h7/272

[profile tsa-dev]
aws_saml_url = home/amazon_aws/0oa14lkr6iN3hJlpQ4h7/272
role_arn = arn:aws-us-gov:iam::724953059831:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1
# https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14lkr6iN3hJlpQ4h7/272

[profile tsa-net]
aws_saml_url = home/amazon_aws/0oa14ljz8bG9PAYOz4h7/272
role_arn = arn:aws-us-gov:iam::725245071763:role/OKTA_TSA_ADMINISTRATOR 
region = us-gov-west-1
# https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14ljz8bG9PAYOz4h7/272

[profile tsa-prod]
aws_saml_url = home/amazon_aws/0oa14lpcshvpEEbv64h7/272
role_arn = arn:aws-us-gov:iam::724995466911:role/OKTA_TSA_ADMINISTRATOR 
region = us-gov-west-1
# https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14lpcshvpEEbv64h7/272

[profile tsa-tools]
aws_saml_url = home/amazon_aws/0oa14lqqy93w8OxTd4h7/272
role_arn = arn:aws-us-gov:iam::725067816605:role/OKTA_TSA_ADMINISTRATOR 
region = us-gov-west-1
# https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14lqqy93w8OxTd4h7/272

[profile tsa-uat]
aws_saml_url = home/amazon_aws/0oaac2xioTKl5xuKH4h6/272
role_arn = arn:aws-us-gov:iam::410096538681:role/OktaSAML_Administrator
region = us-gov-west-1
# https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oaac2xioTKl5xuKH4h6/272
# arn:aws-us-gov:iam::410096538681:role/OktaSAML_Administrator