[defaults]
output = json
region = us-gov-west-1

[okta]
aws_saml_url = home/amazon_aws/0oa14lkr6iN3hJlpQ4h7/272

[profile tsa-dev]
##Account ID: 7250-6781-6605
##Federated user: OKTA_TSA_READ_ONLY/roy.marantz@clearme.com
#aws_saml_url = home/amazon_aws/0oa14lkr6iN3hJlpQ4h7/272
#https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14lkr6iN3hJlpQ4h7/272
#role_arn = arn:aws-us-gov:sts::724953059831:assumed-role/OKTA_TSA_ADMNINSTRATOR/roy.marantz.sa@clearme.com
role_arn = arn:aws-us-gov:iam::724953059831:role/OKTA_TSA_ADMNINSTRATOR
region = us-gov-west-1

[profile tsa-admin]
#https://denver.okta.tsa.dhs.gov/home/amazon_aws/0oa14lm91aDJOqDWW4h7/272
